html {
    background-color: #00FFFF;
    overflow: hidden;
}

.form-data {
    margin: auto;
    width: 48%;
    border-radius: 20px;
}

.display-flex {
    display: flex;
}

.width-100 {
    width: 100%;
}

.padding-2 {
    padding: 2%;
}

.main-bg {
    background-color: #00FFFF;
}

.form-data {
    background-color: #7C7287;
    color: white;
}

.margin-right-10 {
    margin-right: 10px;
}